<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('admin.static',filename='css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
    {% block css%}
    {% endblock%}
    {% if title %}
    <title>{{title}} - 后台管理 </title>
    {% else %}
    <title>后台管理</title>
    {% endif %}
</head>
<body>
    <div class="navbar  navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ url_for('app.index')}}"  class="navbar-brand">我的个人博客</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('admin.index')}}">首页</a></li>
                    <li><a href="/blog">博客管理</a> </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked ">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">SVN</a></li>
                    <li><a href="#">iOS</a></li>
                    <li><a href="#">VB.Net</a></li>
                    <li><a href="#">Java</a></li>
                    <li><a href="#">PHP</a></li>
                </ul>
            </div>
            <div class="col-md-10">
                 {% block content %}
                 {% endblock %}
            </div>
        </div>
        <footer>
            <p>&copy;  我的博客程序</p>
        </footer>
    </div>
   <hr>
   {% with messages = get_flashed_messages() %}
   {% if messages %}
   <ul>
       {% for message in messages %}
       <li>{{message}}</li>
       {% endfor%}
   </ul>
   {% endif %}
   {% endwith%}
   {% block js%}
   {% endblock%}
</body>
</html>